<div class="container-fluid">
    <div class="modal-body">
        <h2>{{theCompany.name}}</h2>

        <p>
        <h4>Address: {{theCompany.address}}</h4><br>
        <h4>City: {{theCompany.city}}</h4><br>
        <h4>Country: {{theCompany.country}}</h4><br>
        <h4>Telephone: {{theCompany.phone}}</h4><br>
        <h4>E-mail: {{theCompany.email}}</h4>

        <br>

        <div class="popover-content">
            <p>
            <h3>Directors:</h3>
            </p>
            <li ng-repeat="director in theCompany.directors">
                <h4><a href="#/directors/{{director.id}}">
                    {{director.forename}}&nbsp;{{director.surname}}
                </a></h4>
            </li>
        </div>
    </div>
</div>