<div class="container-fluid">
    <div class="row-fluid" ng-model="companies">
            <!--Sidebar content-->

            Search: <input ng-model="query">
            Sort by:
            <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="address">Address</option>
            </select>

        <form method="link" action="#/companyForm">
            <button class="btn" ng-click="submit" data-toggle="modal">
                Add Company
            </button>
        </form>
        <div class="modal-body">
            <!--Body content-->
            <ul class="companies">
                <table class="table table-hover stripped">
                    <tr ng-repeat="company in companies.content | filter:query | orderBy:orderProp">
                        <td style="vertical-align: top">
                            <a href="#/companies/{{company.id}}">
                                {{company.name}}
                                </a><br>
                            {{company.address}}<br>
                            {{company.city}}<br>
                            {{company.country}}<br>
                            {{company.phone}}<br>
                            {{company.email}}
                        </td>
                        <td style="vertical-align: top">
                            Directors:<br>
                                <span ng-repeat="director in company.directors">
                                    <a href="#/directors/{{director.id}}">
                                    {{director.forename}} {{director.surname}}<br>
                                    </a>
                                </span>
                        </td>
                        <td>
                            <a href="#/edit/{{company.id}}">
                                <button role='button' class='btn'>
                                    Edit
                                </button>
                            </a>
                                <button ng-click="deleteCompany(company)" role='button' class='btn'>
                                    Delete
                                </button>
                        </td>
                    </tr>
                </table>
            </ul>
        </div>
    </div>

</div>
