<div class="container-fluid" ng-model="theDirector">
    <div class="modal-header">
        <h2>{{theDirector.content.forename}}&nbsp;{{theDirector.content.surname}}</h2>

        <p>
            <a href='#/companies/{{theDirector.content.company_id}}'>Company</a>
    </div>
            {{uploadedFiles.file}}<br>
        </span>
    <div class="modal-body" id="uploaderContainer" ng-hide ="uploaded">
        <span><h5>Upload passport PDF:</h5></span>
        <div class="fileUpload btn btn-primary">
            <span>Upload</span>
            <input id="testUpload"
                   ng-model="files"
                   type="file"
                   class="upload"
                   fileupload
                   name="files[]"
                   data-url='http://ancient-beach-1323.herokuapp.com/webservice/upload/'
                   multiple
                   done="uploadFinished(e, data)" >
        </div>
    </div>
</div>